<!DOCTYPE html>
<html lang="en" th:lang="${lang}" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!--/*@thymesVar id="lang" type="java.lang.String"*/-->

<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <link rel="icon" th:href="@{/favicon.ico}"/>
    <title th:text="#{brand}">#{brand}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" media="all" rel="stylesheet" th:href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}" type="text/css"/>
    <link href="../static/main.css" media="all" rel="stylesheet" th:href="@{/main.css}" type="text/css"/>
    <link media="all" rel="stylesheet" th:href="@{/webjars/bootstrap-select/dist/css/bootstrap-select.min.css}" type="text/css"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" th:src="@{/webjars/jquery/dist/jquery.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" th:src="@{/webjars/popper.js/dist/umd/popper.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/dist/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/bootstrap-select/dist/js/bootstrap-select.min.js}"></script>
    <script th:src="@{'/webjars/bootstrap-select/dist/js/i18n/defaults-'+ ${lang} + '_' + ${#strings.toUpperCase(lang)} + '.min.js'}"></script>
</head>
<body>
<footer class="container" th:fragment="footer">
    <div class="row">
        <div class="col-md-9">
            <p th:inline="text">&copy; [[#{brand}]]</p>
        </div>
        <div class="col-md-3">
            <label class="sr-only" for="locales" th:text="#{lang.change}">lang.change</label>
            <select class="form-control selectpicker" id="locales">
                <option th:text="#{lang.change}" value="">#{lang.change}</option>
                <option th:text="#{lang.en}" value="en">#{lang.en}</option>
                <option th:text="#{lang.ru}" value="ru">#{lang.ru}</option>
            </select>

            <script th:inline="javascript">
                /*<![CDATA[*/

                document.querySelector("#locales").addEventListener("change", function () {
                    let selectedOption = this[this.selectedIndex].value;
                    if (selectedOption !== '') {
                        window.location.replace('?lang=' + selectedOption);
                    }
                });

                /*]]>*/
            </script>
        </div>
    </div>
</footer>
</body>
</html>
