<!DOCTYPE html>
<html lang="en" th:lang="${lang}" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!--/*@thymesVar id="param" type="org.thymeleaf.context.WebRequestParamsVariablesMap"*/-->
<!--/*@thymesVar id="lang" type="java.lang.String"*/-->

<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <link rel="icon" th:href="@{/favicon.ico}"/>
    <title th:text="#{brand}">#{brand}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" media="all" rel="stylesheet" th:href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}" type="text/css"/>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="all" rel="stylesheet" th:href="@{/webjars/font-awesome/css/font-awesome.css}" type="text/css"/>
    <link href="../static/main.css" media="all" rel="stylesheet" th:href="@{/main.css}" type="text/css"/>
    <link media="all" rel="stylesheet" th:href="@{/webjars/bootstrap-select/dist/css/bootstrap-select.min.css}" type="text/css"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" th:src="@{/webjars/jquery/dist/jquery.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" th:src="@{/webjars/popper.js/dist/umd/popper.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/dist/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/bootstrap-select/dist/js/bootstrap-select.min.js}"></script>
    <script th:src="@{'/webjars/bootstrap-select/dist/js/i18n/defaults-'+ ${lang} + '_' + ${#strings.toUpperCase(lang)} + '.min.js'}"></script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" th:replace="header :: header">
    <a class="navbar-brand" th:href="@{/}" th:text="#{brand}">#{brand}</a>
    <button aria-controls="navbar-primary" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar-primary" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-primary">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<main role="main">
    <div class="container-fluid">
        <div class="row justify-content-md-center">
            <div class="col col-12 col-md-6">
                <h3 th:text="#{loginForm.signIn}">#{loginForm.signIn}</h3>
                <form method="post" role="form" th:action="@{/login}">
                    <div class="form-group">
                        <label class="sr-only" for="username" th:text="#{loginForm.username}">#{loginForm.username}</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                            </div>
                            <input class="form-control" id="username" name="username" placeholder="#{loginForm.username}" required
                                   th:classappend="${param['error']} ? 'is-invalid' : ''" th:placeholder="#{loginForm.username}" type="text"/>
                            <div class="invalid-feedback" th:if="${param['error']}" th:text="#{loginForm.invalid}">#{loginForm.invalid}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="password" th:text="#{loginForm.password}">#{loginForm.password}</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                            </div>
                            <input class="form-control" id="password" name="password" placeholder="#{loginForm.password}" required th:placeholder="#{loginForm.password}" type="password"/>
                        </div>
                    </div>
                    <div class="form-group form-check">
                        <input class="form-check-input" id="remember-me" name="remember-me" type="checkbox"/>
                        <label class="form-check-label" for="remember-me" th:text="#{loginForm.rememberMe}">#{loginForm.rememberMe}</label>
                    </div>
                    <button class="btn btn-primary" th:text="#{loginForm.signIn}" type="submit">#{loginForm.signIn}</button>
                    <a class="btn btn-link" href="forgot.html" th:href="@{/forgot}" th:text="#{loginForm.forgot}">#{loginForm.forgot}</a>
                </form>
            </div>
        </div>
        <hr/>
    </div> <!-- /container -->
</main>
<footer class="container" th:replace="footer :: footer">
    <p>&copy; Footer</p>
</footer>
</body>
</html>
