<!DOCTYPE html>
<html lang="en" th:lang="${lang}" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!--/*@thymesVar id="model" type="ru.offenso.entities.Role"*/-->
<!--/*@thymesVar id="permissions" type="java.lang.Iterable<ru.offenso.entities.Permission>"*/-->
<!--/*@thymesVar id="action" type="java.lang.String"*/-->
<!--/*@thymesVar id="lang" type="java.lang.String"*/-->

<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <link rel="icon" th:href="@{/favicon.ico}"/>
    <title th:text="#{brand}">#{brand}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" media="all" rel="stylesheet" th:href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}" type="text/css"/>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="all" rel="stylesheet" th:href="@{/webjars/font-awesome/css/font-awesome.css}" type="text/css"/>
    <link media="all" rel="stylesheet" th:href="@{/webjars/bootstrap-select/dist/css/bootstrap-select.min.css}" type="text/css"/>
    <link href="../../../static/main.css" media="all" rel="stylesheet" th:href="@{/main.css}" type="text/css"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" th:src="@{/webjars/jquery/dist/jquery.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" th:src="@{/webjars/popper.js/dist/umd/popper.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/dist/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/bootstrap-select/dist/js/bootstrap-select.min.js}"></script>
    <script th:src="@{'/webjars/bootstrap-select/dist/js/i18n/defaults-'+ ${lang} + '_' + ${#strings.toUpperCase(lang)} + '.min.js'}"></script>
</head>
<body>
<main role="main">
    <div class="container-fluid">
        <form method="post" role="form" th:action="${action}" th:fragment="form(action)">
            <div class="form-group">
                <label class="sr-only" for="role-name" th:text="#{role.name.label}">#{role.name.label}</label>
                <input class="form-control" id="role-name" placeholder="#{role.name.placeholder}" required th:field="${model.name}" th:placeholder="#{role.name.placeholder}" type="text"/>
            </div>
            <div class="form-group">
                <label class="sr-only" for="role-display-name" th:text="#{role.displayName.label}">#{role.displayName.label}</label>
                <input class="form-control" id="role-display-name" placeholder="#{role.displayName.placeholder}" required th:field="${model.displayName}"
                       th:placeholder="#{role.displayName.placeholder}" type="text"/>
            </div>
            <div class="form-group">
                <label class="sr-only" for="role-description" th:text="#{role.description.label}">#{role.description.label}</label>
                <input class="form-control" id="role-description" placeholder="#{role.description.placeholder}" required th:field="${model.description}"
                       th:placeholder="#{role.description.placeholder}" type="text"/>
            </div>
            <div class="form-group">
                <label for="role-permissions" th:text="#{permissions}">#{permissions}</label>
                <select class="form-control selectpicker" data-live-search="true" data-actions-box="true" id="role-permissions" name="permissions" multiple>
                    <option th:each="it : ${permissions}" th:selected="${model.permissions.contains(it)}" th:text="${it.name}" th:value="${it.id}">${it.name}</option>
                </select>
            </div>
            <button class="btn btn-primary" th:text="#{save}" type="submit">Save</button>
        </form>
        <hr/>
    </div> <!-- /container -->
</main>
</body>
</html>
